body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 2em;
    text-align: center;
}

#buttons-container {
    margin-top: 2em;
}

button {
    padding: 1em 2em;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}
